<ul class="nav navbar-nav navbar-right" ng-if="AuthService.isUser()" ng-cloak>
  <li ui-sref-active="active">
    <a ui-sref="app.me"
       ng-bind="AuthService.user.fullName">
    </a>

  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.me.edit">
      <i class="fa fa-cog fa-lg"></i>
    </a>
  </li>
  <li>
    <a ui-sref='app.logout'>
      Logout
    </a>
  </li>

</ul>
<ul class="nav navbar-nav navbar-right" ng-if="!AuthService.isUser()" ng-cloak>
  <li ui-sref-active="active">
    <a ui-sref="app.login">
      Login
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref='app.registration'>
      Sign Up
    </a>
  </li>
</ul>