<!--TODO: move to directive-->

<ul class="nav navbar-nav navbar-right">
    <li ui-sref-active="active">
        <a ui-sref="app.me" ng-if="AuthService.isUser()">{{AuthService.user.fullName}}</a>
    </li>
    <li ui-sref-active="active">
        <a ng-if="AuthService.isUser()" ui-sref="app.me.edit">
            <i class="fa fa-cog fa-lg"></i>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ng-if="!AuthService.isUser()" ui-sref="app.login" >Login</a>
    </li>
    <li ui-sref-active="active">
        <a  ng-if="!AuthService.isUser()" ui-sref='app.registration'>Sign Up</a>
    </li>
    <li>
        <a  ng-if="AuthService.isUser()" ui-sref='app.logout'>Logout</a>
    </li>
</ul>