<div class="conainer">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3 class="header">Login</h3>

      <!--TODO: add ng-validate-->

      <form ng-submit='login()' novalidate role="form" class="inputs">

        <div class="form-group label-static is-focused">
          <div class="text-danger" ng-if='loginError'>{{loginError}}</div>
          <br/>
          <label for="username">E-mail or username</label>
          <input class="form-control" id="username" ng-model='user.username' placeholder="E-mail" required type="text">
        </div>

        <div class="form-group label-static">
          <label for="userpass">Password</label>
          <input class="form-control" id="userpass" ng-model='user.password' placeholder="Password..." required
                 type="password">
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="user.remember"><span class="checkbox-material"><span class="check"></span></span> Remember me
            </label>
          </div>
        </div>

        <div class="form-group label-static">
          <span><em>OR</em><br/><br/></span>
          <a href="/auth/facebook" class="btn">
            <i class="fa fa-facebook-f fa-2x"></i>
          </a>
          <a href="/auth/google" class="btn">
            <i class="fa fa-google fa-2x"></i>
          </a>
        </div>

        <button class="btn btn-block btn-lg" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
