<div class="conainer ">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 ">
      <form ng-submit='register()' novalidate class="">
        <legend>New user registration</legend>

        <div class="form-group">
          <label for="username">Your login</label>
          <input class="form-control" id="username" ng-model='user.username' placeholder="login..." required
                 type="text">
          <span class="text-danger" ng-repeat='nameError in formErrors.username'>{{nameError}}<br/></span>
        </div>

        <div class="form-group">
          <label for="firstname">First name</label>
          <input class="form-control" id="firstname" ng-model='user.firstname' placeholder="firstname..." required
                 type="text">
        </div>

        <div class="form-group">
          <label for="lastname">Last name</label>
          <input class="form-control" id="lastname" ng-model='user.lastname' placeholder="lastname..." required
                 type="text">
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input class="form-control" id="email" ng-model='user.email' placeholder="E-mail..." required type="email">
          <span class="text-danger" ng-repeat='emailError in formErrors.email'>{{emailError}}<br/></span>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" ng-model='user.password' placeholder="Password..." required
                 type="password">
          <span class="text-danger" ng-repeat='passError in formErrors.password'>{{passError}}<br/></span>
        </div>

        <div class="form-group">
          <label for="passConfirmation">Password confirmation</label>
          <input class="form-control" id="passConfirmation" ng-model='user.passConfirmation'
                 placeholder="Password confirmation..." required type="password">
          <span class="text-danger" ng-repeat='confError in formErrors.passConfirmation'>{{confError}}<br/></span>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>

