<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Profile settings</div>

  <div class="panel-body">
    <h3 ng-bind="user.fullName"></h3>
    <hr/>

    <!-- Edit profile -->
    <div class="col-md-8 col-md-offset-2">
      <h3>Profile info&nbsp;<a ui-sref="app.me.edit"><i class="fa fa-edit fa-lg pull-right"></i></a></h3>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Login</td>
          <td><b ng-bind="user.username"></b></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><b ng-bind="user.email"></b></td>
        </tr>
        <tr>
          <td>Firstname</td>
          <td><b ng-bind="user.firstname"></b></td>
        </tr>
        <tr>
          <td>Lastname</td>
          <td><b ng-bind="user.lastname"></b></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><b ng-bind="user.phone"></b></td>
        </tr>
        <tr>
          <td>Registered</td>
          <td><b ng-bind="user.createdAt | date: 'fullDate'"></b></td>
        </tr>
        <tr>
          <td>FB connected</td>
          <td>
            <i ng-class="{'fa fa-check-square-o fa-lg' : user.socials.isConnectedFB, 'fa fa-times': !user.socials.isConnectedFB}"></i>
          </td>
        </tr>
        <tr>
          <td>Google connected</td>
          <td>
            <i ng-class="{'fa fa-check-square-o fa-lg' : user.socials.isConnectedGoogle, 'fa fa-times': !user.socials.isConnectedGoogle}"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>