<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>Panel body ...</p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Table Heading 1</th>
            </tr>
            <tr>
                <th>Table Heading 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table Content 1</td>
            </tr>
            <tr>
                <td>Table Content 2</td>
            </tr>
        </tbody>
    </table>
</div>