<div class="well" style="background-color: #fff;">
  <form role="form" name="productForm" novalidate ng-submit="save($event, productForm.$valid)"
        ng-keypress="save($event, productForm.$valid)">
    <legend>{{formTitle}}</legend>
    <div class="form-group is-focused">
      <label class="control-label">Title</label>
      <input type="text" class="form-control" name="title" required ng-maxlength="255" ng-model="product.title"
             autofocus>
      <span class="text-danger small" ng-repeat="titleError in formErrors.title">{{titleError}}<br/></span>
			<span ng-if="productForm.title.$error.required && !productForm.title.$pristine" class="text-danger small">
				Products' title is required.<br/>
			</span>

			<span ng-if="productForm.title.$error.maxlength" class="help-block text-danger small">
				Products' title is too large (max 255 signs).<br/>
			</span>
      <span class="material-input"></span>
    </div>

    <div class="form-group ">
      <label class="control-label">Price</label>
      <input type="text" class="form-control" name="price" required ng-model="product.price"
             ng-pattern="/^(\d{1,6})(\.\d{0,2})?$/">
      <span class="text-danger small" ng-repeat="priceError in formErrors.price">
        {{priceError}}<br/>
      </span>
      <span ng-if="productForm.price.$error.required && !productForm.price.$pristine" class="text-danger small">
				Products' price is required.<br/>
			</span>
      <span ng-if="productForm.price.$error.pattern" class="text-danger small">
				Valid products' price format is 123456.13<br/>
			</span>
      <span class="material-input"></span>
    </div>

    <div class="form-group ">
      <label class="control-label">Description</label>
  		<textarea cols="5" rows="3" maxlength="1000" class="form-control" name="description"
                required ng-model="product.description"/>
			<span class="text-danger small" ng-repeat="descriptionError in formErrors.description">
				{{descriptionError}}<br/>
			</span>
      <span ng-if="productForm.description.$error.required && !productForm.description.$pristine"
            class="text-danger small">
				Products' description is required.<br/>
			</span>
			<span ng-if="productForm.description.$error.maxlength"
            class=" text-danger small">
				Products' description is too large (max 1000 signs).<br/>
			</span>
      <span class="material-input"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-default" ng-click="cancel()">Cancel</a>
  </form>
</div>