<container>

  <div class="container">
    <div class="row">
      <div class="" style="position: fixed; z-index: 1000; bottom:70px; left:11px;">
        <a ng-click="showProductForm()" class="btn btn-success btn-fab btn-fab-mini text-left well well-sm"
           title="Add new item">
          <i class="material-icons fa fa-plus"></i>
        </a>
      </div>
      <div class="" style="position: fixed; z-index: 1000; bottom:130px; left:11px;">
        <a ng-if="productsToRemove.length" ng-click="removeSelected()"
           class="btn btn-danger btn-fab btn-fab-mini text-left well well-sm"
           title="Remove selected items">
          <span class=""
                style="position: relative; top:-25px; right: -12px; color: #fff; background-color: transparent; z-index: 100; font-size: 11px;">
            {{countToDelete}}</span>
          <i class="material-icons fa fa-trash-o"></i>
        </a>
      </div>
      <div class="" style="position: fixed; z-index: 1000; bottom:190px; left:11px;">
        <a ng-if="productsToRemove.length" ng-click="clearSelection()"
           class="btn btn-info btn-fab btn-fab-mini text-left well well-sm"
           title="Clear selection">
          <i class="material-icons fa fa-ban"></i>
        </a>
      </div>
    </div>

    <div class="row">
      <div ng-if="!products.length" class="text-center">
        <div class="alert alert-default" style="border: 1px solid lightgray;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <b class=" text-info">No items added yet!</b>
        </div>

      </div>

      <div class="row" ng-if="products.length">
        <div class="pull-right text-center" style="width: 200px;">
          <span>Show on page:</span>

          <div togglable-buttons-panel class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn" ng-repeat="limit in productsShowLimits" ng-click="setLimit(limit)"
               ng-class="{active: query.limit === limit}">{{limit}}</a>
          </div>
        </div>
      </div>
      <div class=""
           ng-class="{'col-xs-12 col-sm-6 col-md-3 col-lg-3': query.limit !==1,'col-md-6 col-md-offset-3 ': query.limit ===1 }"
           ng-repeat="product in products">
        <div class="thumbnail well well-sm">
          <div class="caption">
            <h3><a ui-sref="app.products.product({productId: product._id})">{{product.title}}</a></h3>

            <p>
              <b>Price: </b>{{product.price | currency: '$'}}
            </p>

            <p class="text-right">
              <a ng-click="showProductDetails(product)" class="btn btn-info btn-fab btn-fab-mini"
                 title="Product details">
                <i class="material-icons fa fa-info"></i>
              </a>
              <a ng-click="showProductForm(product)" class="btn btn-success btn-fab btn-fab-mini"
                 title="Edit product">
                <i class="material-icons fa fa-edit"></i>
              </a>
              <a ng-click="remove(product)" class="btn btn-danger btn-fab btn-fab-mini"
                 title="Remove item">
                <i class="material-icons fa fa-trash"></i>
              </a>
              <a ng-click="toggleRemove(product._id, $event)" class="btn  btn-default btn-fab btn-fab-mini"
                 title="Mark to delete" ng-class="{'btn-warning': isMarkedForRemove(product._id)}">
                <i class="material-icons fa fa-check"></i>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="row text-center" ng-if="products.length">
      <uib-pagination total-items="count"
                      num-pages="pagesCount"
                      ng-model="page"
                      max-size="10"
                      first-text="<<"
                      last-text=">>"
                      next-text=">"
                      previous-text="<"
                      items-per-page="query.limit"
                      rotate="true"
                      ng-change="changePage()"
                      class="pagination-lg"
                      boundary-links="true"
                      force-ellipses="true"
                      boundary-link-numbers="false">
      </uib-pagination>
    </div>
  </div>
</container>